.place__subtitle{
    grid-area: subtitle;
    align-self: end;
}

@media screen and (max-width: 1024px) {
    .place__subtitle{
        max-width: 295px;
    }
}

@media screen and (max-width: 640px) {
    .place__subtitle{
        max-width: 288px; 
    }
}