.photo-grid{
    padding: 46px 24px 46px;
    max-width: 1232px;
    margin: 0 auto;
}


@media screen and (max-width: 1024px) {
    .photo-grid{
        padding: 44px 24px 44px;
    }
    .photo-grid__list{
        grid-gap: 16px;
    }
}

@media screen and (max-width: 640px) {
    .photo-grid{
        padding: 44px 16px 32px;
    }

    .photo-grid__list{
        grid-gap: 12px;
    }
}

