.place__image{
    grid-area: imagen;
    max-width: 460px;
}

@media screen and (max-width: 1024px) {
    .place__image{
        max-width: 340px;
        margin: 0;
    }
}

@media screen and (max-width: 640px) {
    .place__image{
        max-width: 320px;
        margin: 0;
    }
}