.lead{
    display: grid;
    grid-template-areas: 
    ". title ."
    ". subtitle ."
    " image image image";
    justify-content: center;
    align-items: center;
    grid-gap: 32px;
}

@media screen and (max-width: 1024px) {
    .lead{
        margin: 0 auto;
    }
}

@media screen and (max-width: 640px) {
    .lead{
        margin: 0 auto;
    }
}
