.cover__button {
    background-color: #0278FE;
    width: 198px;
    height: 48px;
    border-radius: 4px;
    color: #FFFFFF;
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    border-style: none;
}
.cover__button:hover {
    background-color: #0063D2;
    cursor: pointer;
}

.cover__button:hover + .cover__background-image {
    opacity: 0.5;
}