.place__frame{
    width: 355px;
    height: 48px;
    left: 148px;
    background: #0278FE;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
/* identical to box height */
    color: #FFFFFF;
    border: none;
}

.place__frame:hover{
    opacity: 0.5;
    background: #65a4f1;
}


@media screen and (max-width: 640px) {
    .place__image{
        max-width: 288px;
        margin: 0 auto;
    }
}