.lead__image{
    grid-area: image;
    max-width: 100%;
    object-fit: contain;
    max-height: 615px;
    align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .lead__image{
        margin: 0 auto;
    }
}