.cover__content_title{
    text-align: center;
    z-index: 2;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
/* identical to box height, or 106% */
    color: #FFFDFD;
}


@media screen and (max-width: 1024px) {
    .cover__content_title{
        margin: 0 auto;
    }
}

@media screen and (max-width: 640px) {
    .cover__content_title{
        max-width: 288px;
        margin: 0 auto;
        height: 35px;
    }
}
