.cover__content_button{
    background: #0278FE;
    border-radius: 4px;
    max-width: 198px;
    max-height: 48px;
    border: none;
    z-index: 2;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: white;
}

.cover__content_button:hover {
    background-color: rgb(57, 57, 57);
  }
  
  .cover__content_button:hover + .cover__background {
    opacity: 0.5;
  }