.place{
    display: grid;
    grid-gap: 40px 50px;
    grid-template-areas: 
    "title subtitle"
    "imagen text"
    "imagen text";
    max-width: 984px;
}

@media screen and (max-width: 1024px){
    .place{
        margin: 0 24px;
        max-width: 720px;
    }
}

@media screen and (max-width: 640px) {
    .place{
        grid-template-areas:
        "title"
        "subtitle"
        "imagen"
        "text";
        display: grid;
        align-items: center;
        margin: 0 auto;
        max-width: 320px;
    }
}