.place__paragraph-text{
    grid-area: text;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    /* or 29px */
    color: #FFFFFF;
    margin-left: 40px;
    max-width: 448px ;
}

@media screen and (max-width: 1024px) {
    .place__paragraph-text{
        max-width: 352px;
    }
}

@media screen and (max-width: 640px) {
    .place__paragraph-text{
        max-width: 288px;
    }
}