.cover__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 1024px) {
    .cover__content_subtitle{
        margin: 0 auto;
    }
}

@media screen and (max-width: 640px) {
    .cover__content_subtitle{
        max-width: 288px;
        margin: 0 auto;
    }
}