.intro__title {
    color: white;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    max-width: 1017px;
}

@media screen and (max-width: 1024px) {
    .intro__title {
        margin: auto 24px;
      }
}

@media screen and (max-width: 640px) {
    .intro__title {
        max-width: 100%;
        font-size: 32px;
        margin: 44px 16px 0px 16px;
        }
}